body {
  background-color: orange;
  background-image: url(https://preview.redd.it/deixa-o-cara-gozar-v0-5zm82o0ap2fc1.png?width=720&format=png&auto=webp&s=4c699dc1ccc80586ce73eda32b7972e0b59d82df);
  background-repeat: no-repeat;
  background-position: center;
}
#container {
  width: 720px;
  height: 520px;;
  border: 2px solid black;
  margin: auto;
}