header {
  border: 2px solid white;
  
  padding: 10px;
  /* caixa branca */
}

span{
  border: 1px solid black;
  /*mini caixa preta*/
}

body{
  background: purple;
 /* irrelevante tipo pro codigo é so comentario */
}
body {
 background: orange;
 /* o ultimo comando tem prioridade */
}

p {
  color: blue
}

p#bombastic {
  color:black
}
/* o id não pode começar com numero e evitar caracteres especiais com execção só do underline mas quem nomeia algo começando com underline eu não sei */
